* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.dictionary-section__get-form, .new-word-section__post-form {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 20px;
    column-gap: 40px;
    list-style: none;
}